<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      <a href='/'>One Link</a>
      <a href='/'>Two Links</a>
      <a href='/'>Red Links</a>
      <a href='/'>Blue Links</a>
    </nav>
    <div id="content">
      <h1>Welcome to the Nodejs web template.</h1>
      <p>Please start your project and, for the love of god, do not procrastinate.</p>
    </div>
  </body>
</html>
